<% content_for :page_title, "Image Repository" %>
<% content_for :page_subtitle, "Upload and Share Your High-Quality Photos Here!"%>

<div class="container">
  <div id="search-bar">
  <form action="/search">
      <input class="input" type="text" placeholder="Search Image..." name="name" onchange="this.form.submit()">
  </form>
  </div>
  <div class="grid">
    <% @posts.each do |post| %>
      <input onClick="window.location.href='posts/<%= post.id %>'" type="image" src="<%= post.link %>"/>      
    <% end %>
  </div>
</div>

<%
=begin%>
 <div class="container">
    <table>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
          <td><%= post.name %></td>
          <td><%= post.link %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
  <div> 
<%
=end
%>
