<% content_for :page_title, @post.name%>
<% content_for :page_subtitle, "Uploaded: #{@post.created_at}"%>

<section class="section">
	<div class="container">
        <img class="post-image" width="200" height="40" src="<%= @post.link %>">
		    <p class="level-item">
		        <strong>Name:</strong> <%= @post.name %>
		    </p>
			<p class="level-item">
		        <strong>Link:</strong> <%= @post.link %>
		    </p>
        <br>
		<p>
			<% if user_signed_in? %>
				<%= link_to "Edit Name", edit_post_path(@post), class:"button" %>
				<%= link_to "Back", posts_path, class:"button" %>
				<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:"button is-danger" %>
			<% else %>
				<%= link_to "Back", posts_path, class:"button" %>
			<% end %>				
		</p>
		<hr/>
	</div>
</section>
